<!DOCTYPE html>
<html lang="en" ng-app="patientApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    </link>


    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller="PatientController">

    <div class="container mt-4">
        <h2 class="text-center">Hello, Dr. Noori!</h2>
        <div class="display">
            <i class="fas fa-search icon-size"></i>
            <h3> Search Your Patients</h3>
        </div>
         <!-- start -->
         <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link top-tab active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Basic</button>
            </li>
            <li class="nav-item " role="presentation">
              <button class="nav-link top-tab" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Advanced</button>
            </li>
          </ul>
          <div class="tab-content overflow" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="card-search p-3 mb-4">

                    <form>
                        <p class="header">Patient Info</p>
                        <div class="row">
                            <div class="col-md-4">
                                <label><b>First Name</b></label>
                                <input type="text" class="form-control" placeholder="First Name" ng-model="search.firstName">
                            </div>
                            <div class="col-md-4">
                                <label><b>Last Name</b></label>
                                <input type="text" class="form-control" placeholder="Last Name" ng-model="search.lastName">
                            </div>
                            <div class="col-md-2">
                                <label><b>Date of Birth</b></label>
                                <input type="date" class="form-control" ng-model="search.dob">
                            </div>
                        </div>
                        <hr>
                        <p class="header">Appointment Range</p>
                        <div class="row">
                            <div class="col-md-2">
                                <label><b>Start Date</b></label>
                                <input type="date" class="form-control" ng-model="search.nextAppointment">
                            </div>
                            <div class="col-md-2">
                                <label><b>End Date</b></label>
                                <input type="date" class="form-control" ng-model="search.nextAppointment">
                            </div>
                        </div>
                        <hr>
                        <button class="button">Search</button>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="card-search p-3 mb-4">
                    We're working on this feature. Stay tuned!
                </div>
            </div>
          </div>
          <!-- end -->
        <!-- tabs 2 start -->
        <!-- Tabs navs -->
        <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active custom-tab" id="list-tab" data-bs-toggle="tab" data-bs-target="#list" role="tab" aria-controls="list" aria-selected="true" type="button">
                    <h6> <i class="fa fa-calendar"></i> Today's Patients</h6>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a data-mdb-tab-init class="nav-link custom-tab" id="search-tab" data-bs-toggle="tab" role="tab" data-bs-target="#search" aria-controls="search" aria-selected="false" type="button">
                    <h6> <i class="fa fa-bars"></i> Search Results</h6>
                </a>
            </li>
        </ul>
        <!-- Tabs navs -->

        <!-- Tabs content -->
        <div class="tab-content" id="ex1-content">
            <div class="tab-pane  show active" id="list" role="tabpanel" aria-labelledby="list">
                <!-- expariment -->
                <div class="card p-3 mb-4" ng-repeat="patient in patients | filter:search">
                    <table>
                        <tr>
                            <td>
                                <h5>{{ patient.firstName }} {{ patient.lastName }}</h5>
                            </td>
                            <td>
                                <i class="align-right"><strong>Next Appointment:</strong>
                                    {{patient.nextAppointment}}</i>

                            </td>
                            <td>
                                <i class="fa fa-chevron-right "></i>
                            </td>


                        </tr>
                    </table>
                    <!-- <p><strong>Next Appointment:</strong>{{patient.nextAppointment}}</p> -->
                    <hr>
                    <table>
                        <tr>
                            <td><strong>DOB</strong> </td>
                            <td>{{ patient.dob }}</td>
                            <td><Strong>ID Number</Strong></td>
                            <td> {{ patient.idNumber }}</td>
                            <td><strong>Hospital</strong></td>
                            <td> {{ patient.hospital }}</td>
                        </tr>

                        <tr>
                            <td><strong>Sex</strong></td>
                            <td>{{ patient.sex }}</td>
                            <td><strong>Last 4 Digits of SSN</strong></td>
                            <td>{{ patient.ssn }}</td>
                            <td><strong>Dept.</strong></td>
                            <td>{{ patient.dept }}</td>
                        </tr>
                        <tr>
                            <td><strong>Residence</strong></td>
                            <td>{{ patient.residence }}</td>
                            <td><strong>Phone Number</strong></td>
                            <td>{{ patient.phone }}</td>
                            <td><strong>Physician</strong></td>
                            <td>{{ patient.physician }}</td>
                        </tr>
                        <tr>
                            <td><strong>MRN </strong></td>
                            <td>{{ patient.mrn }}</td>
                            <td><strong>Email </strong></td>
                            <td>{{ patient.email }}</td>
                            <td><strong>Conditions </strong></td>
                            <td>{{ patient.conditions.join(', ') }}</td>
                        </tr>
                    </table>
                </div>
                <!--over  -->
            </div>
            <div class="tab-pane " id="search" role="tabpanel" aria-labelledby="search">
                <div class="card p-3 mb-4">
                    We're working on this feature. Stay tuned!
                </div>
            </div>

        </div>

        <!-- tabs 2 end -->
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>